rdflib
jinja2
owlrl
typing-extensions>=4.12.2
rustworkx>=0.14.0
sqlalchemy
black
ruff
sortedcontainers

# rdr requirements
anytree>=2.8.0
ordered_set>=4
pygraphviz>=1.7
typing-extensions>=4.12.2
graphviz
tabulate
ipython
requests
colorama
pygments
sqlalchemy
pandas
pyparsing>=3.2.3
omegaconf
rustworkx
pydot

# development dependencies
ucimlrepo>=0.0.7
pdbpp
pytest
